<html>
    <body>
        <center>
            <form method="post">
                {% csrf_token %}

                <pre>
                   
                    name:<input type="text" name="name"value=""width="200"><br>
                    email:<input type="text" name="email"value=""width="200"><br>
                    phone:<input type="text" name="phone"value=""width="200"><br>
                    <input type="submit"name="reg"value="click"width="300"height="100">
                </pre>
            </form>
            </center>
            </body>
            </html>

