<html>

{% load static %}

<style>
a:link{text-decoration:none}
body{
           background:url("/static/image/image2.jpeg");
           background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-position: 50% 25%; */
  background-size: 800px 400px;

        }

</style> 

<body bgcolor="pink">           
   <font size="10" color="purple"> NICT JAYANAGAR</font>
  
    <h1><a href="{% url 'page4' %}">Home</a></h1>
  </body>
  </html>

